@model FERIA.CLASES.Camion
@{
    ViewBag.Title = "Mantención de Camiones";
    Layout = "~/Views/Shared/_Interno.cshtml";

    //var Login = FERIA.FRONT.Helper.Autenticacion.TraerUsuarioAutenticado();

    ViewBag.Title = (Model.IdCamion == 0) ? "Creación de Camión" : "Modificación de Camión";
    ViewBag.Accion = (Model.IdCamion == 0) ? "Grabar" : "Modificar";


    if (ViewBag.Exito == null)
    {
        ViewBag.Exito = false;
    }
    if (ViewBag.Mensaje == null)
    {
        ViewBag.Mensaje = "";
    }
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Productor</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Sistema")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a>Camiones</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" method="post" action="@Url.Action("Mantener", "Camion")" autocomplete="off">
                @Html.AntiForgeryToken()
                <input type="hidden" name="IdCamion" id="IdCamion" value="@Model.IdCamion" />
                <input type="hidden" name="IdUsuario" id="IdUsuario" value="@Model.IdUsuario" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>@ViewBag.Title</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="m-t-none m-b">Datos Camión</h3>
                                        <p>Información del Camión</p>
                                        <div class="form-row">
                                            <div class="form-group col-lg-4">
                                                <label>Peso Máximo (KG)</label>
                                                <input type="number" name="PesoMaximo" id="PesoMaximo" placeholder="Ingrese Peso Máximo" class="form-control" value="@Model.PesoMaximo" required />
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label>Refrigera</label><br />
                                                <input type="checkbox" name="Refrigera" id="Refrigera" class="js-switch" @((Model.Refrigera) ? "checked" : "") />
                                                <input name="RefrigeraEdit" id="RefrigeraEdit" type="hidden" value="true" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class=" pull-right ">
                                            <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action("Listar", "Camion")';"><i class="fa fa-backward"></i><span class="bold"> Volver</span></button>
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i><span class="bold"> @ViewBag.Accion</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });
            $('.switchery').click(function () {
                if (document.getElementById('Refrigera').checked == true) {
                    document.getElementById('RefrigeraEdit').value = 'true'
                }
                else {
                    document.getElementById('RefrigeraEdit').value = 'false'
                }
            });
        });
    </script>

    @if (ViewBag.Mensaje != "")
    {
        <script>

        swal({
            title: ("@ViewBag.Exito" != "False") ? "Felicidades!" :"Error!",
            text: fncReemplazaTilde("@ViewBag.Mensaje"),
            type: ("@ViewBag.Exito" != "False") ? "success" :"error"
        });
        </script>
    }

}


